{% for timer in elements %}
  {% if timer['#la_pills_timer_entity'].name %}
    <div class="la-pills-timer la-pills-timer-{{ timer['#la_pills_timer_entity'].id.0.value }}">
      <div class="row">
        <div class="col-sm-9">
          {{ timer.timer_color }}
          <span class=" timer-name">
            {{ timer['#la_pills_timer_entity'].name.0.value }}
          </span>
        </div>
        <div class="col-sm-1 text-center">
          {{ timer.change_status }}
        </div>
        <div class="col-sm-2 text-center">
            <div class="btn-group btn-group-sm">
                {{ timer.edit_link }}
                {{ timer.remove_link }}
            </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
