{#
/**
 * @file session-entity.html.twig
 * Default theme implementation to present LA Pills Session data.
 *
 * This template is used when viewing LA Pills Session pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - actions: Action buttons
 *
 * @see template_preprocess_session_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('session-entity') }}>
  {% if actions %}
    <div class="actions">
      {{- actions -}}
    </div>
  {% endif %}

  {% if code %}
    <div class="unique-access-code" data-value="{{ code }}">
      <h2>{{ 'Access PIN code'|t }}</h2>
      <span class="code well well-sm">
        {{- code -}}
      </span>
    </div>
  {% endif %}

  {% if content and content['session_template'] %}
    {{- content['session_template'] -}}
  {% endif %}
</div>
